html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  transform: scale(0.75);

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

* {
  outline: none;
}
